[D-BUS Service]
Name=org.freesmartphone.ogsmd
Exec=/home/morphis/Workspace/fso-new/buildroot/install/sbin/fsogsmd
User=root
FSO-provides-resource=GSM
